.header {
  background-color: #015fa9;
}
.header-container {
  width: 100vw;
}
.header-toolbar {
  font-size: 12px;
  color: white;
  span {
    margin: 0 4px;
  }
}
.header-info {
  cursor: pointer;
}
.select-option {
  width: 140px;
}
.select-lang {
  width: 120px;
  height: 26px;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.globe {
  margin-left: 50px;
}
