.divider {
  min-height: 50px;
  height: auto;
}

.item {
  cursor: pointer;
  font-size: 14px;
}

.item:hover {
  text-decoration: underline;
}
.item-bold {
  margin-bottom: 24px;
  font-size: 15px;
}
